apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000   # port interne du container Flask/Gunicorn
          env:
            - name: POSTGRES_DB
              value: quiz
            - name: POSTGRES_USER
              value: quiz-user
            - name: POSTGRES_PASSWORD
              value: quiz-password
            - name: POSTGRES_HOST
              value: db-service
            - name: FLASK_ENV
              value: production
            - name: FLASK_DEBUG
              value: "0"
