name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
    # 1. Récupération du code
    - name: Checkout repository
      uses: actions/checkout@v4

    # 2. Installer kubectl
    - name: Install kubectl
      uses: azure/setup-kubectl@v4
      with:
        version: v1.29.0

    # 3. Configurer l'accès au cluster Kubernetes
    - name: Configure kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

    # 4. Déployer sur Kubernetes
    - name: Deploy application
      run: |
        kubectl apply -f k8s/
        kubectl rollout restart deployment frontend
        kubectl rollout restart deployment backend
